body{
	font-family: Arial, Sant-Serif;
	font-size: 100%;
	background-color: #33357A;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header{
	padding: 50px 0;
	background-color: #CAE5FF;
}
h1,h2{
	color: #68534D;
	text-align: center;

}
h3{
	color: #1F328E;
	text-align: center;
	background-color: 
}
nav{
	background-color: #89BBFE;
	border-color: #000000;
	border-style: soild;
	min-height: 64px;
}
nav li{
	float: left;
	width: 100px;
}
nav a{
	display: block;
	color: #1F328E;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
nav li a:hover{
	color: #54688A;
	background-color: #33357A;
}
p{
	font-size: 16px;
	line-height: 1.3;
	margin-top: 0.1em;
	margin-bottom: 0px;
	color:#B4D3FC ;
}
footer{
	background-color: #33357A;
	color: #D2D68D;
	padding: 20px 0;
	margin-top: 30px;
}
form{
	padding: 15px 0;
	float: right;
}
.form_comment{
	padding: 15px 0;
	float: none;
} 
}   
